/* Untuk Tablet */
@media all and (max-width: 1000px) {
  
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  
  main {
    padding: 160px 16px;
  }
  
  /* Header */
  .container {
    margin: 0 16px;
  }
  header nav .menu {
    display: none;
    margin-right: 50px;
  }
  header nav .menu-icon {
    display: inline-block;
    font-size: 32px;
  }
  
  
  /* Card */
  .top-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0 16px; */
  }

  main .content {
    /* height: 400px; */
    width: 100%;
  }

  main .content:nth-of-type(2n) {
    margin: 32px 0;
  }

  /* footer */
  footer .container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .footer-left,
  .footer-right {
    width: 100%;
  }
  .footer-left {
    text-align: center;
  }
  .footer-right {
    margin-top: 32px;
  }
  .footer-right li {
    line-height: 35px;
    text-align: center;
  }
}
