@import "reset.css";
@import "type-scale.css";

header {
  width: 100%;
  height: 100px;
  color: #fff;
  z-index: 10;
  background-color: rgba(2, 22, 72, 0.8);
  position: fixed;
}

header .container {
	width: 1170px;
	margin: 0 auto;
}

header .logo img {
  float: left;
  height: 80px;
  padding-top: 10px;
}

header .logo img:hover {
	cursor: pointer;
	opacity: 0.8;
}

header .container nav {
	float: right;
	height: 100%;
	margin-top: 40px;
}

header nav .menu {
  color: inherit;
  text-decoration: none;
  opacity: 0.5;
  margin: auto 30px;
  transition: 1s;
}

header .menu:hover {
 opacity: 1;
}

main {
  padding-top:150px;
  background-color: black;
  color: #fff;
  text-align: center;
  height: auto;
}

main section h1 {
  transition: opacity 1s;
}
